Viags.Base/bin/
Viags.Base/obj/
Viags.Data/bin/
Viags.Data/obj/
Viags.Simple/bin/
Viags.Simple/obj/
Viags.Utils/bin/
Viags.Utils/obj/
Viags.WebApp/bin/
Viags.WebApp/obj/
WebFormsUtilities/bin/
WebFormsUtilities/obj/
