<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Viags.WebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="LimitDayApproved" value="7" />
    <add key="ApplicationName" value="NHNNVN-QLVB" />
    <add key="StartOfficeHours" value="08:00" />
    <add key="EndOfficeHours" value="17:30" />
    <!--LDAP-->
    <add key="FullPCName" value="spapptv.sp.com" />
    <add key="ADDomain" value="LDAP://192.167.19.11" />
    <add key="ADPath" value="OU=AF,DC=anovafeed,DC=vn" />
    <add key="domainsite" value="anovafeed.vn" />
    <add key="ADUser" value="anovafeed\e-office" />
    <add key="ADPassword" value="=%zQPuq-U^" />

    <!-- cấu hình gửi mail -->
    <add key="SMTP_Host" value="mail.anovafeed.vn" />
    <add key="SMTP_Port" value="587" />
    <add key="SendMailAddress" value="e-office@anovafeed.vn" />
    <add key="SendMailAccount" value="system" />
    <add key="SendMailPassword" value="=%zQPuq-U^" />
    <add key="OnOffScheduler" value="1" />

    <!--<add key="ThoiGianKhoa" value="3" />
    <add key="ThoiGianKhoaSauMo" value="1" />
    <add key="ThoiGianKhoaNVTTNgay" value="2" />-->
  </appSettings>
  <system.web>
    <globalization culture="vi-VN" uiCulture="vi" />
    <customErrors mode="Off" />
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>-->
    <compilation debug="true" targetFramework="4.5" batch="false">
    </compilation>
    <pages enableEventValidation="false" />
    <!--<globalization
         requestEncoding="utf-8"
         responseEncoding="utf-8"
         fileEncoding="utf-8"
         culture="vi-VN"   
         uiCulture="vi-VN" />-->
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="62914560" maxQueryStringLength="2097151" />
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="FoldioContext" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-8MGKJ5U\DESKTOP8MGKJ5U;Initial Catalog=AF_TEST_28122020;User ID=sa;Password=123;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <system.webServer>
    <security>

      <requestFiltering>

        <requestLimits maxAllowedContentLength="62914560" maxQueryString="2097151" />

      </requestFiltering>

    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="LoginNew.aspx" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="HTTPS" enabled="false" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
        </rule>
      </rules>
    </rewrite>
    <httpRedirect enabled="false" destination="https://e-office.anovafeed.vn" exactDestination="true" childOnly="true" />
    <staticContent>
      <mimeMap fileExtension=".msg" mimeType="application/vnd.ms-outlook" />
    </staticContent>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <applicationSettings>
    <Viags.WebApp.Properties.Settings>
      <setting name="Viags_WebApp_UploadFileService_UploadFile" serializeAs="String">
        <value>http://demo-tv:9080/Uploadfile.asmx</value>
      </setting>
    </Viags.WebApp.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>