<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="wrapper">
        <div id="body">
            <div id="banner" style="margin:0 auto;background-color:#0E5841">
                <img src="{ImageSource}" />
            </div>
            <div style="clear:both;"></div>
            <p id="info">
            <p>Chào Anh/Chị</p>
            <p>Anh/Chị có thông báo từ hệ thống Foldio</p>
            <p>{Content}</p>
            <!--<br />-->
            <!--<p>>Click vào <a href="{LinkFile}">đây(nếu có)</a> để xem file đính kèm.</p>-->
            <br />
            <p>Click vào <a href="{LinkView}">đây</a> để xem chi tiết.</p>
            <p>Cảm ơn các Anh/Chị.</p>
        </div>
    </div>
</body>
</html>