<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans|Roboto" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Encode Sans', medium;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="body">
            <div style="clear:both;"></div>
            <p>Dear Anh/Chị,</p>

            <p>Có một lịch họp "{NoiDung}" tại {TenPhongHop} vào {ThoiGianHop}.</p>
            <p>Nhờ anh/chị thiết lập trang thiết bị cho phòng họp trước thời gian trên để cuộc họp được diễn ra tốt đẹp.</p>

            <p>Cám ơn các Anh/Chị.</p>

            <hr>
            <p>Hỗ trợ: <a>it-la@anovafeed.vn</a></p>
        </div>
    </div>
    
</body>
</html>
