<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans|Roboto" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Encode Sans', medium;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="body">
            <div style="clear:both;"></div>
            <p>Chào Anh/Chị</p>
            <p>Tài khoản : {TenNguoiDung} đã được mở khóa</p>
            <p>Anh/Chị vui lòng truy cập ứng dụng E-Office để cập nhật công việc,</p>
            <p>Cảm ơn các Anh/Chị.</p>
            <hr />
            <p> Hỗ trợ: <a href="#"> it-la@anovafeed.vn </a></p>
            <br />
            <!--<p style="margin-bottom:1.0pt;text-align:justify"><b><span style="font-size:9.0pt;font-family:&quot;Verdana&quot;,sans-serif;color:#0070C0">Thanks and Best Regards<o:p></o:p></span></b></p>-->
            <!--<br />
            <p style="margin-bottom:1.0pt;text-align:justify"><b><span style="font-size:9.0pt;font-family:&quot;Verdana&quot;,sans-serif;color:#0070C0">Le Vinh Duc Tra</span></b></p>
            <p style="margin-bottom:1.0pt;margin-top: auto;"><b><span style="font-size:9.0pt;font-family:&quot;Verdana&quot;,sans-serif;color:#00B050">IT Director</span></b></p>
            <br />-->
        </div>
    </div>

 
</body>
</html>
