<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans|Roboto" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Encode Sans', medium;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="body">
            <div style="clear:both;"></div>
            <p>Chào {NguoiNhan}!</p> 
            Anh/Chị nhận được thông báo đặt phòng họp từ hệ thống quản lý văn bản & điều hành công việc ANOVA<br/>
            <p> - Nội dung đặt phòng: {NoiDung}</p>
            <p> - Người đăng ký: {NguoiDangKy}</p>
            <p> - Thời gian họp: {ThoiGianHop}</p>
            <p> - Địa điểm: {TenPhongHop}</p>
            <p> - Thành phần tham dự: {ThanhPhanThamDu}</p>

            <p>Trân trọng,</p>
            <hr>
            <p>Hỗ trợ: <a>it-la@anovafeed.vn</a></p>
        </div>
    </div>

    
</body>
</html>
